<div class="right controls"><%= link_to "新增栏目/版块", new_forum_path %></div>
<% @categories.each do |category| %>
  <div class="module">
    <div class="module_header">
      <%= category.title %>
      <span class="controls right smaller">
        <%= link_to "新增版块", new_forum_path %>
        <%= link_to "修改栏目", edit_forum_path(category) %>
        <%= link_to "删除栏目", forum_path(category), :confirm => "确定删除该栏目?", :method => :delete %>
      </span>
    </div>
    <% if category.forums.size > 0 %>
    <div>
      <table>
        <tr class="smaller">
          <th colspan="2" align="left">版块</th>
          <th>主题</th>
          <th>帖子</th>
          <th class="last_post" align="left">最近发表</th>
        </tr>
        <% category.forums.each do |forum| %>
        <tr>
          <td class="icon"><%= image_tag 'logo.png' %></td>
          <td class="description">
            <%= link_to forum.title, forum_path(forum) %><br />
            <span class="smaller"><%= forum.description %></span><br />
          </td>
          <td class="counts smaller"><%= forum.topics.size %></td>
          <td class="counts smaller"><%= forum.posts.size - forum.topics.size %></td>
          <td class="last_post smaller">
            <% if forum.posts.size > 0 %>
              <%= forum.posts.last.created_at %><br />
              <%= forum.posts.last.user.username %>
            <% else %>
              没有文章
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <% else %>
      <div class="module_body">There are currently no forums.</div>
    <% end %>
  </div>
<% end %>
